@import "react-alice-carousel/lib/alice-carousel.css";

.carouselContainer {
  text-align: center;
  margin: 2rem;
  .alice-carousel__prev-btn-item {
    color: var(--color-text);
  }

  .alice-carousel__prev-btn-item {
    background: var(--button-bg-color);
    color: var(--color-text-button);
    font-family: var(--font-family-text);
    box-shadow: 0 1px 0 var(--shadow-color);
    border: 1px solid var(--button-color-border);
    border-radius: 2rem;
    padding: 0.5rem 2rem;
  }
  .alice-carousel__prev-btn-item:hover {
    background: var(--button-color-hover);
    border-color: var(--color-text);
  }

  .alice-carousel__next-btn-item {
    background: var(--button-bg-color);
    color: var(--color-text-button);
    font-family: var(--font-family-text);
    box-shadow: 0 1px 0 var(--shadow-color);
    border: 1px solid var(--button-color-border);
    border-radius: 2rem;
    padding: 0.5rem 2rem;
  }
  .alice-carousel__next-btn-item:hover {
    background: var(--button-color-hover);
    border-color: var(--color-text);
  }

  .alice-carousel__dots-item {
    background: var(--color-text);
    color: var(--color-text);
  }
}

.carouselImage {
  width: 70%;
  min-height: 45rem;
  max-height: 45rem;
  object-fit: cover;
  background-size: contain;
}

@media (max-width: 768px) {
  .carouselImage {
    width: 95%;
    min-height: 56rem;
    max-height: 56rem;
    padding-top: 2rem;
  }
}
