.cartMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 8rem;
  border: solid 1px rgb(48, 47, 47);
  margin: 1rem 0.5rem;
  border-radius: 2rem;
  .cartImg {
    height: 100px;
    width: 100px;
    margin: 2rem;
    border-radius: 1rem;
    object-fit: cover;
  }
  h2 {
    color: #36941f;
    margin: 0 1rem;
  }
}

.cartContent {
  display: flex;
  padding: 7rem;
  gap: 8rem;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .cartContainer {
    width: 60%;
    height: 8rem;
    margin: 1rem 0.5rem;
    border-radius: 2rem;
    .cartImg {
      height: 86px;
      width: 60px;
      margin: 2rem;
      border-radius: 1rem;
      object-fit: cover;
    }
  }

  .cartContent {
    display: flex;
    padding: 0rem;
    gap: 0rem;
    justify-content: space-around;
  }
}
