.categoryMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #444;
  color: white;
  h1 {
    margin-bottom: 20px;
  }
}

.categoryContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 800px;
  li {
    background-color: #555;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
}
