.footerContainer {
  background-image: var(--bg-color-foot);
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-around;
}

.iconSocial {
  transition: transform 0.3s ease;
}

.iconSocial a:hover img {
  transform: var(--logo-transform);
}

.logoFooter {
  width: 5rem;
}

.logoFooter:hover {
  transform: scale(1.05);
}

.newsLetterTitle {
  color: var(--color-text);
  font-size: 2rem;
}

.newsLetterEmail {
  display: flex;
  gap: 1rem;
}

input[type="email"] {
  background-image: var(--bg-color-input);
  border-radius: 50rem;
  padding: 0.5rem;
}

.newsLetterMessage {
  color: var(--color-text);
}

.newsLetterButton {
  appearance: none;
  background: var(--bg-color-button);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 15px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: var(--color-text-button);
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.newsLetterButton:hover {
  background: var(--bg-color-hover);
}

.newsLetterButton:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.newsLetterButton:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.newsLetterButton:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

@media (max-width: 768px) {
  .footerContainer {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 1.5rem;
    text-align: center;
    padding: 2rem;
  }
  .iconSocial {
    display: flex;
    gap: 5rem;
  }
  .newsLetterEmail {
    flex-direction: column;
  }
  .newsLetterContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .newsLetterButton {
    width: 50%;
    margin-left: 3rem;
  }
}
