.footerContainer {
  background-image: var(--bg-color-foot);
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-around;
}

.iconSocial {
  transition: transform 0.3s ease;
}

.iconSocial a:hover img {
  transform: var(--logo-transform);
}

.logoFooter {
  width: 5rem;
}

.logoFooter:hover {
  transform: scale(1.05);
}

.newsLetterTitle {
  color: var(--color-text);
  font-size: 2rem;
}

.newsLetterEmail {
  display: flex;
  gap: 1rem;
}

input[type="email"] {
  background-image: var(--bg-color-input);
  border-radius: 50rem;
  padding: 0.5rem;
}

.newsLetterMessage {
  color: var(--color-text);
}

@media (max-width: 768px) {
  .footerContainer {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 1.5rem;
    text-align: center;
    padding: 2rem;
    margin-bottom: 3rem;
  }
  .iconSocial {
    display: flex;
    gap: 5rem;
  }
  .newsLetterEmail {
    flex-direction: column;
  }
  .newsLetterContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .newsLetterButton {
    width: 50%;
    margin-left: 3rem;
  }
}
