.gameCardBottom {
  color: var(--color-text);
}

.gameCardImg {
  width: 100%;
  max-width: 400px;
  object-fit: cover;
  border-radius: 8px;
  max-height: 10rem;
}

@media (max-width: 768px) {
  .gameCardBottom {
    text-align: center;
  }
}
