.navBg {
  background-image: var(--bg-color-nav);
}

.navContainer {
  padding: 1rem;
}

.navButtonContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navLogoSize {
  max-width: 5rem;
}
