.logoSize {
  max-width: 5rem;
}

.navContainer {
  padding: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bgNavigation {
  background-image: linear-gradient(#6b6b6b, #424242);
}
