.newsSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  margin: 3rem;
}

.newsCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.newsLink {
  text-decoration: none;
  color: inherit;
}

.newsItem {
  background: var(--bg-color-cart-component);
  box-sizing: border-box;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-text);
  border-radius: 8px;
  transition: transform 0.2s;
}

.newsItem:hover {
  transform: scale(1.05);
}

.newsItem img {
  max-width: 100%;
  height: auto;
  display: block;
}

.newsItem h3 {
  font-size: var(--font-size-text);
  margin: 0.5em 0;
}

.newsItem p {
  margin: 0.5em 0;
}

@media (max-width: 768px) {
  .newsCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
