.videoGamesPage {
  padding: 1rem;
  text-align: center;
}

.videoGamesTitleH1 {
  text-align: center;
  width: 100%;
  padding: 2rem;
  margin: 0;
}

.videoGamesTitleH2 {
  text-align: left;
  margin: 0 0 3rem 1rem;
  padding: 1rem 0;
  width: 100%;
  font-size: 1.7rem;
  text-decoration: underline;
}

.videoGamesCardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 2rem auto;
}

.videoGamesCardContainer li {
  border-radius: 8px;
  margin: 1rem;
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
}

.videoGamesCardContainer li:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.showMoreButton {
  background: var(--button-bg-color);
  font-family: var(--font-family-text);
  font-size: var(--font-size-text);
  border: 1px solid var(--button-color-border);
  box-shadow: 0 1px 0 var(--shadow-color);
  color: var(--color-text-button);
  padding: 0.625rem 1.875rem;
  box-shadow: none;
  border-radius: 0px 0px 25px 25px;
  transition: 595ms;
  transform: translateY(0);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.showMoreButton:hover {
  transition: 595ms;
  padding: 0.625rem 3.125rem;
  transform: translateY(-0px);
  background: var(--button-color-hover);
  border-color: var(--color-text);
}

@media (max-width: 768px) {
  .videoGamesCardContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .videoGamesTitleH2 {
    margin: 0 0 0rem 1rem;
  }
  .videoGamesCardContainer li {
    margin: 0rem;
  }
}
