.videoGamesPage {
  padding: 10px;
  text-align: center;
}

.videoGamesTitleH1 {
  text-align: center;
  width: 100%;
  padding: 2rem;
  margin: 0;
}

.videoGamesTitleH2 {
  text-align: left;
  margin: 0 0 3rem 4rem;
  padding: 1rem 0;
  width: 100%;
  font-size: 1.7rem;
  text-decoration: underline;
}

.videoGamesCardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 30px auto;
}

.videoGamesCardContainer li {
  background-color: dimgray;
  border-radius: 8px;
  margin: 10px;
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
}

.videoGamesCardContainer li:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.gameCardImg {
  width: 100%;
  min-width: 24rem;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  max-height: 28rem;
  min-height: 28rem;
  background-size: contain;
}

.gameCardBottom {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .videoGamesCardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .gameCardBottom {
    text-align: center;
  }
  .gameCardImg {
    max-width: 20rem;
    min-width: 20rem;
    max-height: 24rem;
    min-height: 24rem;
  }
}

.showMoreButton {
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(90deg, #70e000 0%, #548a47 100%);
  padding: 10px 30px;
  border: solid #2ccc00 2px;
  box-shadow: none;
  border-radius: 0px 0px 25px 25px;
  transition: 595ms;
  transform: translateY(0);
  cursor: pointer;
}

.showMoreButton:hover {
  transition: 595ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background: linear-gradient(90deg, #70e000 0%, #548a47 100%);
  color: #ffffff;
  border: solid 2px #2ccc00;
}
